.layout-footer-fixed .wrapper .main-footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1032;
  }

.layout-footer-not-fixed .wrapper .main-footer {
position: static;
}
